<div>
  <!-- kware edit
           call getStringByLocale to separate string br bar '|'  -->
  <div class="modal-header">{{ headerLabel | translate:{dsoName: localeService.getStringByLocale(dso?.name)} }}
    <!-- end kawre edit -->
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- kware edit
           call getStringByLocale to separate string br bar '|'  -->
    <p>{{ infoLabel | translate:{dsoName: localeService.getStringByLocale(dso?.name)} }}</p>
    <!-- end kawre edit -->
  </div>
  <div class="modal-footer">
    <button type="button" class="cancel btn btn-outline-secondary" (click)="cancelPressed()" aria-label="Cancel">
      <!-- kware edit
           call getStringByLocale to separate string br bar '|'  -->
      <i class="fas fa-times"></i> {{ cancelLabel | translate:{dsoName: localeService.getStringByLocale(dso?.name)} }}
      <!-- end kawre edit -->
    </button>
    <button type="button" class="confirm btn btn-{{brandColor}}" (click)="confirmPressed()" aria-label="Confirm" ngbAutofocus>
      <!-- kware edit
           call getStringByLocale to separate string br bar '|'  -->
      <i *ngIf="confirmIcon" class="{{confirmIcon}}"></i> {{ confirmLabel | translate:{dsoName: localeService.getStringByLocale(dso?.name)} }}
      <!-- end kawre edit -->
    </button>
  </div>
</div>
