<!-- kware edit
           call getStringByLocale to separate string br bar '|'  -->
<a *ngIf="linkType != linkTypes.None" [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'" rel="noopener noreferrer" [routerLink]="['/collections/' + object.id]" class="lead">
    {{localeService.getStringByLocale (object.name)}}
</a>
<span *ngIf="linkType == linkTypes.None" class="lead">
    {{localeService.getStringByLocale (object.name)}}
</span>
<div *ngIf="object.shortDescription" class="text-muted abstract-text">
    {{localeService.getStringByLocale(object.shortDescription)}}
</div>
<!-- end kawre edit -->